<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <a href="/add_person">adicionar</a>
        <li>
            {% for user in users%}
                <h3>{{ user[0], user[1], user[2] }}</h3>
                <form action="{{ url_for('update_person', id=user[0]) }}" method="post" style="display:inline;">
                    <button type="submit">Update</button>
                </form>
                <form action="{{ url_for('delete_person', id=user[0]) }}" method="post" style="display:inline;">
                    <button type="submit">Delete</button>
                </form>
                
            {% endfor %}
        </li>
     </div>
</body>
</html>